# 책 대여점 on jupyter Notebook

만약 cx_oracle 모듈이 없으면 콘솔에서 설치할 것
```shell
>pip install cx_oracle
```

In [13]:
#cx_Oracle 모듈 첨부
import cx_Oracle as ora

# DB함수 연결
```python
myconn()
```

In [14]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name = 'orcl')
    conn = ora.connect(user = 'scott', password= 'tiger', dsn = dsn, encoding= 'utf-8')
    return conn

### divTbl 전체 조회함수
사용법
```python
getAlldataFromDivtbl(conn) ##conn은 연결객체
```

In [15]:
def getAllDataFromDivtbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT division, names FROM divtbl'

    for row in cur.execute(query):
        print(row)
    
    cur.close()

conn = myconn()
print('접속')

getAllDataFromDivtbl(conn)

접속
('i002', '자기계발')
('I002', '자기계발')
('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I003', '에세이')

##신규 장르 입력
사용법
```python
tup = (division, names
getAllDataFromDivtbl(conn, tup))
```

In [56]:
def setDataIntoDivtbl(conn,tup):
    cur = conn.cursor()
    query = 'INSERT INTO divtbl VALUES (:1, :2)'
    cur.execute(query, tup)
    conn.commit()
    cur.close()

    division, names = input('장르코드, 장르명 입력(구분자,)').split('/')
    tup = (division.strip(), names.strip())
    setDataIntoDivtbl(conn, tup)
print('장르추가 성공')
getAllDataFromDivtbl(conn)

장르추가 성공

DatabaseError: ORA-00933: SQL 명령어가 올바르게 종료되지 않았습니다

In [55]:
def getDataFromBookstbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT idx, author, division, names,'\
            '       TO_CHAR(releasedate, \'YYYY-MM-DD\')' \
            'FROM bookstbl' \
            'ORDER BY IDX asc '
    
    for row in cur.execute(query):
        print(row)    
    
    cur.close() 

    getDataFromBookstbl(conn)

In [58]:
def getDataFromBookstbl(conn) -> None:
    names = input('검색할 책이름을 입력하세요.')
    cur = conn.cursor()
    query = 'SELECT idx, author, division, names, '\
            '       TO_CHAR(releasedate, \'YYYY-MM-DD\')' \
            'FROM bookstbl' \
            f'WHERE names LIKE \'%{names}%\' '\
            'ORDER BY IDX asc '
    
    for row in cur.execute(query):
        print(row)
    
    cur.close()

In [59]:
getDataFromBookstbl(conn)

DatabaseError: ORA-00933: SQL 명령어가 올바르게 종료되지 않았습니다

### 삭제함수
사용법
```python
pass
```

In [36]:
def getAllDataFromDivtbl(conn):
    division = input('삭제할 코드명 입력(예: I004)')
    cur = conn.cursor()
    query = 'DELETE FROM divtbl WHERE division = :1 '
    tup = (division, )  #튜플 하나짜리는 왼쪽처럼 만들어야함 조심!!
    cur.execute(query, tup)
    conn.commit()
    print('삭제 성공')
    cur.close()

In [37]:
getAllDataFromDivtbl(conn)

삭제 성공